#login{
    margin-left: 25%;
    padding-top: 10%;
}
.login_container{
    background-color: #F5F5F5;
    height: 60%;
    margin-left: 35%;
    width: 25%;
    margin-top: 15%;
}
.head{
    font-size: 12px;
    font-weight: bold;
    margin-left: 50px;
    /* margin-top: 50px; */
    line-height: 30px;
}
input[type=text], input[type=password] {
    width : 80%;
    height: 8%;
    padding : 6px 8px;
    margin : 10px 0;
    display : inline-block;
    margin : 5px 0;
    border : 1px solid #ccc;
    font-family : Arial;
}
.btn{
    width: 20%;
    height: 30px;
    margin-left: 25%;
}